@using ReFreshMVC.Models.Services
@inject InventoryManagementService _inv

@{
    var products = await _inv.GetAllAsync();
}
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s2">
            </div>
            <div class="input-field col s8">
                <div class="carousel carousel-slider">
                    <a class="carousel-item">
                        @foreach (var item in products)
                        {
                            <div>
                                <img src="@item.Image" />
                            </div>
                        }
                    </a>
                </div>
            </div>
            <div class="input-field col s2">

            </div>
        </div>
    </div>
</div>
