@using Microsoft.AspNetCore.Identity
@using ReFreshMVC.Models
@inject SignInManager<User> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="___ADD_CUSTOM_FONT_HERE___" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        @if (signInManager.IsSignedIn(User))
    {
        <p>Hello, @User.Claims.First(c => c.Type == "FullName").Value</p>
    }
    else
    {
        <a asp-controller="User" asp-action="Login">Log in here!</a>
        <a asp-controller="User" asp-action="Register">(No account? Register here!)</a>

    }
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
