
@{
}

<nav class="navbar">
    <ul>
        <li><a asp-controller="Home" asp-action="Index" style="color:black;">Home</a></li>
        <li><a asp-controller="User" asp-action="Login" style="color:black;">Log In</a></li>
        <li><a asp-controller="User" asp-action="Register" style="color:black;">Register</a></li>
    </ul>
</nav>
