@using Microsoft.AspNetCore.Identity
@using ReFreshMVC.Models
@inject SignInManager<User> signInManager

<nav class="navbar">
    <ul>
        <li><a class="navbarLink" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a class="navbarLink" asp-controller="Product" asp-action="Index">Products</a></li>
        @if (signInManager.IsSignedIn(User))
        {
            @*<li><a class="navbarLink" asp-controller="Cart" asp-action="Index"><i class="material-icons">shopping_cart</i></a></li>*@
            <li><a class="navbarLink " id="showCartComponent"><i class="material-icons">shopping_cart</i></a></li>
            <li><a class="navbarLink" asp-controller="User" asp-action="Profile"><i class="material-icons">person</i></a></li>
            <li><a class="navbarLink" asp-controller="User" asp-action="Logout">Sign Out</a></li>
        }
        else
        {
            <li><a class="navbarLink" asp-controller="User" asp-action="Login">Login</a></li>
            <li><a class="navbarLink" asp-controller="User" asp-action="Register">Register</a></li>
        }
    </ul>
</nav>

@if (signInManager.IsSignedIn(User))
{
    <div id="ShoppingCartComponent" hidden="hidden">

            @await Component.InvokeAsync("ShoppingCart")
    </div>
}