
@{
}

<nav>
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/User/Register">Register</a></li>
        <li><a asp-page="/Index">Home</a></li>   @*new links here*@
        <li><a asp-page="/Index">Home</a></li>   @*new links here*@
    </ul>
</nav>