@using Microsoft.AspNetCore.Identity
@using ReFreshMVC.Models
@inject SignInManager<User> signInManager
@{
    Layout = "_Layout";
}

<div class="row">
    <form class="col s8" style="margin: auto; padding-left:5%; float:none">
        <div class="row">

            <div class="input-field col s2">
                <select>
                    <option value="" disabled selected>Food Category</option>
                    <option value="1">Fruits</option>
                    <option value="2">Pastas</option>
                    <option value="3">Hispanic</option>
                </select>
            </div>
            <div class="input-field col s6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">SEARCH</label>
            </div> 
            <button class="btn waves-effect waves-light" type="submit" style="margin-top:2%;">
                <i class="material-icons center">search</i>
            </button>
        </div>
    </form>
</div>


<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s2">

            </div>
            <div class="input-field col s8">
                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="#one!"><div style="width: 1600px; height: 1000px" ><img src="~/Img/penne.jpeg" style="min-width: 100%; min-height: 100%;max-width: 100%; max-height: 100%;" /></div></a>
                    <a class="carousel-item" href="#two!"><img src="https://via.placeholder.com/50" style="max-width: 100%; max-height: 100%;"/></a>
                </div>
            </div>
            <div class="input-field col s2">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s1">

            </div>
            <div class="input-field col s3">
                <div class="card">
                    <div class="card-content" style="padding-left: 40%; padding-top: 15%; margin: auto; margin-bottom: 30%;">
                        <h1>WELCOME</h1>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a asp-controller="User" asp-action="Login">LOGIN LINK</a></li>
                        </ul>
                    </div>
                </div>
                @*<div>
                <h2>Welcome</h2>
                <button><a asp-controller="User" asp-action="Login">LOGIN LINK</a></button>
            </div>*@
            </div>
            <div class="input-field col s4">
                <div class="card">
                    <div class="card-content" style="padding-left: 40%; padding-top: 15%; margin: auto; margin-bottom: 20%;">
                        <h1>WELCOME</h1>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a asp-controller="User" asp-action="Login">LOGIN LINK</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="input-field col s3">
                <div class="card">
                    <div class="card-content" style="padding-left: 40%; padding-top: 15%; margin: auto; margin-bottom: 30%;">
                        <h1>WELCOME</h1>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a asp-controller="User" asp-action="Login">LOGIN LINK</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="input-field col s1">

            </div>
        </div>
    </div>
</div>

