@{
    Layout = "_Layout";
}

<div class="row">
    @if(User.Identity.Name != null)
    {
        <div id="ShoppingCartComponent" hidden="hidden">
            @await Component.InvokeAsync("ShoppingCart", new { userID = User.Identity.Name })
        </div>
    }
    <partial name="../Shared/_SearchPartial.cshtml" />
</div>



