@using Microsoft.AspNetCore.Identity
@using ReFreshMVC.Models
@inject SignInManager<User> signInManager
@{
    Layout = "_Layout";
}

<div class="row">
    <form class="col s8" style="margin: auto; padding-left:5%; float:none">
        <div class="row">

            <div class="input-field col s2">
                <select>
                    <option value="" disabled selected>Food Category</option>
                    <option value="1">Fruits</option>
                    <option value="2">Pastas</option>
                    <option value="3">Hispanic</option>
                </select>
            </div>
            <div class="input-field col s6">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">SEARCH</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" style="margin-top:2%;">
                <i class="material-icons center">search</i>
            </button>
        </div>
    </form>
    <partial name="../Shared/_CarouselPartial.cshtml" />

</div>




