@model ReFreshMVC.Models.ViewModels.LoginViewModel

@using Microsoft.AspNetCore.Identity;
@using ReFreshMVC.Models;
@inject SignInManager<User> signInMgr

@{
    Layout = "_Layout";
}

<form method="post">

    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Log in</button>
    <p>Not a user? <a asp-controller="User" asp-action="Register">Register</a> here.</p>
</form>

@{
    var oAuthProviders = (await signInMgr.GetExternalAuthenticationSchemesAsync()).ToList();

    if (oAuthProviders.Count > 0)
    {
        <h1> LOGIN PROVIDERS!!!</h1>

        <form method="post" asp-controller="User" asp-action="ExtLogin">
            @foreach (var prov in oAuthProviders)
            {
                <button type="submit" name="provider" value="@prov.Name" title="Sign in with @prov.DisplayName"> @prov.Name</button>
            }
        </form>

    }
}
