@model ReFreshMVC.Models.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

<form method="post">

    <div asp-validation-summary="All"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Log in</button>
    <p>Not a user? <a asp-controller="User" asp-action="Register">Register</a> here.</p>
</form>
